body{
    background-color: burlywood;
    margin: 10px;
}

h3{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 30em;
    border-bottom: medium;
    border-bottom: 20px;
    
}

#fl{
    float: left;
    border-radius: 300px;
   background-image: url(../image/flowers.jpg);
    height: 300px;
    width: 30%;
    margin: 1.6%;
    
}
#oc{
    float: left;
    border-radius: 300px;
    background-image: url(../image/ocean1.jpg);
    height: 300px;
    width: 30%;
    margin: 1.6%;
}

#in{
    float: left;
    border-radius: 300px;
    background-image: url(../image/interior.jpg);
    height: 300px;
    width: 30%;
    margin: 1.6%;
}
#od{
    float: left;
    border-radius: 300px;
    background-image: url(../image/oldHouse.jpg);
    width: 30%;
    height: 300px;
    margin: 1.6%;
}
#rn{
    float: left;
    border-radius: 300px;
    border-style: hidden;
    background-image: url(../image/rain.jpg);
    width: 30%;
    height: 300px;
    margin: 1.6%;
}
#de{
    float: left;
    border-radius: 300px;
    border-style: hidden;
    background-image: url(../image/desertView.jpeg);
    width: 30%;
    height: 300px;
    margin: 1.6%;
}
#fo{
    float: left;
    border-radius: 300px;
    border-style: hidden;
    background-image: url(../image/fountain.jpg);
    width: 30%;
    height: 300px;
    margin: 1.6%;
}
#be{
    float: left;
    border-radius: 300px;
    border-style: hidden;
    background-image: url(../image/beach1.jpg);
    width: 30%;
    height: 300px;
    margin: 1.6%;
}
#bee{
    float: left;
    border-radius: 300px;
    border-style: hidden;
    background-image: url(../image/beeez.jpg);
    width: 30%;
    height: 300px;
    margin: 1.6%;
}
#bv{
    float: left;
    border-radius: 300px;
    border-style: hidden;
    background-image: url(../image/beachView.jpg);
    width: 30%;
    height: 300px;
    margin: 1.6%;
}
#co{
    float: left;
    border-radius: 300px;
    border-style: hidden;
    background-image: url(../image/coffe.jpg);
    width: 30%;
    height: 300px;
    margin: 1.6%;
}
#ld{
    float: left;
    border-radius: 300px;
    border-style: hidden;
    background-image: url(../image/landscape.jpg);
    width: 30%;
    height: 300px;
    margin: 1.6%;
}

